fastapi==0.115.6
uvicorn[standard]==0.32.1
pydantic==2.10.3
pydantic-settings==2.7.0
motor==3.6.0
pydantic-mongo==2.3.0
PyJWT==2.10.1
bcrypt==4.2.1
pytest==8.3.4
pytest-asyncio==0.24.0
httpx==0.28.1
mongomock-motor==0.0.34
redis[asyncio]==5.2.1
